In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json 
from sklearn.preprocessing import LabelEncoder

In [2]:
df1 = pd.read_csv("tmdb_5000_credits.csv")
df2 = pd.read_csv("tmdb_5000_movies.csv")

In [3]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
df2 = df2.drop("homepage", axis = 1)
df2 = df2.drop("overview", axis = 1)
df2 = df2.drop("tagline", axis = 1)

In [5]:
#adding profit column to df2
profit = []
for i in range(4803):
    profit.append(df2["revenue"][i] -df2["budget"][i])  
df2["Profit"] = profit

In [6]:
#for genres
ids1 = []
name1 = []
for i in range(4803):
    ids2 = []
    name2 = []
    contents = json.loads(df2["genres"][i])
    for j in range(len(contents)):
        ids2.append(contents[j]["id"])
        name2.append(contents[j]["name"])
    ids1.append(ids2)
    name1.append(name2)
df2["genre_id"] = ids1
df2["genre_name"] = name1
df2= df2.drop("genres", axis =1)

#for keywords
keyword_id = []
keyword_name = []
for i in range(4803):
    temp_list1 = []
    temp_list2 = []
    contents = json.loads(df2["keywords"][i])
    for j in range(len(contents)):
        temp_list1.append(contents[j]["id"])
        temp_list2.append(contents[j]["name"])
    keyword_id.append(temp_list1)
    keyword_name.append(temp_list2)
df2["keyword_id"] = keyword_id
df2["keyword_name"] = keyword_name
df2= df2.drop("keywords", axis =1)

#for spoken language section
spoken_languages = []
for i in range(4803):
    temp_list = []
    contents = json.loads(df2["spoken_languages"][i])
    for j in range(len(contents)):
        temp_list.append(contents[j]["iso_639_1"])
    spoken_languages.append(temp_list)
df2["spoken_languages"] = spoken_languages

#for produtcion countries section
countries = []
for i in range(4803):
    temp_list = []
    contents = json.loads(df2["production_countries"][i])
    for j in range(len(contents)):
        temp_list.append(contents[j]["name"])
    countries.append(temp_list)
df2["production_countries"] = countries

In [7]:
df2 = df2.dropna(axis = 0)

In [8]:
date = []
month = []
year = []

for i in range(4800):
    
    if i == 2656 or i ==4140 or i == 4553: #these are the dropped rows which had null values
        year.append(0)
        month.append(0)
        date.append(0)
    else:
        year.append(int(str(df2["release_date"][i]).split("-")[0]))
        month.append(int(str(df2["release_date"][i]).split("-")[1]))
        date.append(int(str(df2["release_date"][i]).split("-")[2]))
df2["date"] = date
df2["month"] = month
df2["year"] = year
df2 = df2.drop("release_date", axis =1)

In [9]:
df2 = df2.drop(["title", "original_title"], axis = 1)

In [10]:
le = LabelEncoder()
for col in ["original_language", "status"]:
    df2[col] = le.fit_transform(df2[col])

In [11]:
df2.head(7)

,budget,id,original_language,popularity,production_countries,revenue,runtime,spoken_languages,status,vote_average,...,Profit,genre_id,genre_name,company_production_id,production_company_name,keyword_id,keyword_name,date,month,year
0,237000000,19995,7,150.437577,"[United States of America, United Kingdom]",2787965087,162.0,"[en, es]",1,7.2,...,2550965087,"[28, 12, 14, 878]","[Action, Adventure, Fantasy, Science Fiction]","[289, 306, 444, 574]","[Ingenious Film Partners, Twentieth Century Fo...","[1463, 2964, 3386, 3388, 3679, 3801, 9685, 984...","[culture clash, future, space war, space colon...",10,12,2009
1,300000000,285,7,139.082615,[United States of America],961000000,169.0,[en],1,6.9,...,661000000,"[12, 14, 28]","[Adventure, Fantasy, Action]","[2, 130, 19936]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[270, 726, 911, 1319, 2038, 2052, 2580, 2660, ...","[ocean, drug abuse, exotic island, east india ...",19,5,2007
2,245000000,206647,7,107.376788,"[United Kingdom, United States of America]",880674609,148.0,"[fr, en, es, it, de]",1,6.3,...,635674609,"[28, 12, 80]","[Action, Adventure, Crime]","[5, 10761, 69434]","[Columbia Pictures, Danjaq, B24]","[470, 818, 4289, 9663, 14555, 156095, 158431]","[spy, based on novel, secret agent, sequel, mi...",26,10,2015
3,250000000,49026,7,112.312950,[United States of America],1084939099,165.0,[en],1,7.6,...,834939099,"[28, 80, 18, 53]","[Action, Crime, Drama, Thriller]","[923, 6194, 9993, 9996]","[Legendary Pictures, Warner Bros., DC Entertai...","[849, 853, 949, 1308, 1437, 3051, 3562, 6969, ...","[dc comics, crime fighter, terrorist, secret i...",16,7,2012
4,260000000,49529,7,43.926995,[United States of America],284139100,132.0,[en],1,6.1,...,24139100,"[28, 12, 878]","[Action, Adventure, Science Fiction]",[2],[Walt Disney Pictures],"[818, 839, 1456, 3801, 7376, 9951, 10028, 1053...","[based on novel, mars, medallion, space travel...",7,3,2012
5,258000000,559,7,115.699814,[United States of America],890871626,139.0,"[en, fr]",1,5.9,...,632871626,"[14, 28, 12]","[Fantasy, Action, Adventure]","[5, 326, 19551]","[Columbia Pictures, Laura Ziskin Productions, ...","[851, 1453, 1965, 2038, 3446, 3986, 4391, 4959...","[dual identity, amnesia, sandstorm, love of on...",1,5,2007
6,260000000,38757,7,48.681969,[United States of America],591794936,100.0,[en],1,7.4,...,331794936,"[16, 10751]","[Animation, Family]","[2, 6125]","[Walt Disney Pictures, Walt Disney Animation S...","[1562, 2343, 2673, 3205, 4344, 7376, 10336, 33...","[hostage, magic, horse, fairy tale, musical, p...",24,11,2010

In [20]:
#creating dummy varibles for every genre

unique_genre_names = []
for i in range(4803):
    for j in range(len(name1[i])):
        if name1[i][j] in unique_genre_names:
            pass 
        else:
            unique_genre_names.append(name1[i][j])
genre = []
for i in range(4803):
    if i == 2656 or i ==4140 or i == 4553:
        pass
    else:
        k =0
        for genre_name in unique_genre_names:
            genre.append([])
            if genre_name in df2["genre_name"][i]:
                genre[k].append(1)
            else:
                genre[k].append(0)
            k+=1
k = 0
for genre_name in unique_genre_names:
    df2[genre_name] = genre[k]
    k+=1   
    
df2 = df2.drop(["genre_name", "genre_id"], axis =1)

NameError: name 'unique_country_names' is not defined

In [19]:
df2.head()

,budget,id,original_language,popularity,production_countries,revenue,runtime,spoken_languages,status,vote_average,...,Comedy,Romance,Horror,Mystery,History,War,Music,Documentary,Foreign,TV Movie
0,237000000,19995,7,150.437577,"[United States of America, United Kingdom]",2787965087,162.0,"[en, es]",1,7.2,...,0,0,0,0,0,0,0,0,0,0
1,300000000,285,7,139.082615,[United States of America],961000000,169.0,[en],1,6.9,...,0,0,0,0,0,0,0,0,0,0
2,245000000,206647,7,107.376788,"[United Kingdom, United States of America]",880674609,148.0,"[fr, en, es, it, de]",1,6.3,...,0,0,0,0,0,0,0,0,0,0
3,250000000,49026,7,112.312950,[United States of America],1084939099,165.0,[en],1,7.6,...,0,0,0,0,0,0,0,0,0,0
4,260000000,49529,7,43.926995,[United States of America],284139100,132.0,[en],1,6.1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
#creating dummy varibles for every country

unique_country_names = []
for i in range(4803):
    for j in range(len(countries[i])):
        if countries[i][j] in unique_country_names:
            pass 
        else:
            unique_country_names.append(countries[i][j])
country = []
for i in range(4803):
    if i == 2656 or i ==4140 or i == 4553:
        pass
    else:
        k =0
        for country_name in unique_country_names:
            country.append([])
            if country_name in df2["production_countries"][i]:
                country[k].append(1)
            else:
                country[k].append(0)
            k+=1
k = 0
for country_name in unique_country_names:
    df2[country_name] = country[k]
    k+=1   
    
df2 = df2.drop("production_countries", axis =1)

In [39]:
df2.head()

,budget,id,original_language,popularity,revenue,runtime,spoken_languages,status,vote_average,vote_count,...,Algeria,Indonesia,Guyana,Iran,Guadaloupe,Afghanistan,Angola,Dominican Republic,Cameroon,Kenya
0,237000000,19995,7,150.437577,2787965087,162.0,"[en, es]",1,7.2,11800,...,0,0,0,0,0,0,0,0,0,0
1,300000000,285,7,139.082615,961000000,169.0,[en],1,6.9,4500,...,0,0,0,0,0,0,0,0,0,0
2,245000000,206647,7,107.376788,880674609,148.0,"[fr, en, es, it, de]",1,6.3,4466,...,0,0,0,0,0,0,0,0,0,0
3,250000000,49026,7,112.312950,1084939099,165.0,[en],1,7.6,9106,...,0,0,0,0,0,0,0,0,0,0
4,260000000,49529,7,43.926995,284139100,132.0,[en],1,6.1,2124,...,0,0,0,0,0,0,0,0,0,0

In [43]:
#creating dummy varibles for every spoken language

unique_spoken_languages = []
for i in range(4803):
    for j in range(len(spoken_languages[i])):
        if spoken_languages[i][j] in unique_spoken_languages:
            pass 
        else:
            unique_spoken_languages.append(spoken_languages[i][j])
languages = []
for i in range(4803):
    if i == 2656 or i ==4140 or i == 4553:
        pass
    else:
        k =0
        for language in unique_spoken_languages:
            languages.append([])
            if language in df2["spoken_languages"][i]:
                languages[k].append(1)
            else:
                languages[k].append(0)
            k+=1
k = 0
for language_name in unique_spoken_languages:
    df2[language_name] = languages[k]
    k+=1   
    
df2 = df2.drop("spoken_languages", axis =1)

In [44]:
df2.head()

,budget,id,original_language,popularity,revenue,runtime,status,vote_average,vote_count,Profit,...,bn,ku,mi,to,ca,br,dz,ky,bm,sl
0,237000000,0,7,150.437577,2787965087,162.0,1,7.2,11800,2550965087,...,0,0,0,0,0,0,0,0,0,0
1,300000000,0,7,139.082615,961000000,169.0,1,6.9,4500,661000000,...,0,0,0,0,0,0,0,0,0,0
2,245000000,0,7,107.376788,880674609,148.0,1,6.3,4466,635674609,...,0,0,0,0,0,0,0,0,0,0
3,250000000,0,7,112.312950,1084939099,165.0,1,7.6,9106,834939099,...,0,0,0,0,0,0,0,0,0,0
4,260000000,0,7,43.926995,284139100,132.0,1,6.1,2124,24139100,...,0,0,0,0,0,0,0,0,0,0

In [76]:
df2 = df2.drop(["production_company_name", "production_company_name"], axis = 1)
df2 = df2.drop(["keyword_id", "keyword_name"], axis = 1)

In [79]:
df2.columns[:21]

Index(['budget', 'id', 'original_language', 'popularity', 'revenue', 'runtime',
       'status', 'vote_average', 'vote_count', 'Profit',
       'company_production_id', 'date', 'month', 'year', 'Action', 'Adventure',
       'Fantasy', 'Science Fiction', 'Crime', 'Drama', 'Thriller'],
      dtype='object')

In [93]:
df2.shape

(4800, 208)

ValueError: setting an array element with a sequence.

In [89]:
from sklearn.decomposition import PCA
pca =PCA(n_components = None)
df2 = pca.fit_transform(df2)
explained_variance = pca.explained_variance_ratio_

ValueError: setting an array element with a sequence.

In [57]:
yoo= 0
num = 0
for i in range(len(companies[num])):
    yoo += companies[num][i]

In [58]:
yoo

48

In [56]:
df2['Ingenious Film Partners'].sum()

48

In [59]:
df2["production_company_name"]

0       [Ingenious Film Partners, Twentieth Century Fo...
1       [Walt Disney Pictures, Jerry Bruckheimer Films...
2                        [Columbia Pictures, Danjaq, B24]
3       [Legendary Pictures, Warner Bros., DC Entertai...
4                                  [Walt Disney Pictures]
                              ...
4798                                  [Columbia Pictures]
4799                                                   []
4800    [Front Street Pictures, Muse Entertainment Ent...
4801                                                   []
4802         [rusty bear entertainment, lucky crow films]
Name: production_company_name, Length: 4800, dtype: object

In [ ]:
country[]

In [18]:
df2

,budget,id,original_language,popularity,production_countries,revenue,runtime,spoken_languages,status,vote_average,...,Comedy,Romance,Horror,Mystery,History,War,Music,Documentary,Foreign,TV Movie
0,237000000,19995,7,150.437577,"[United States of America, United Kingdom]",2787965087,162.0,"[en, es]",1,7.2,...,0,0,0,0,0,0,0,0,0,0
1,300000000,285,7,139.082615,[United States of America],961000000,169.0,[en],1,6.9,...,0,0,0,0,0,0,0,0,0,0
2,245000000,206647,7,107.376788,"[United Kingdom, United States of America]",880674609,148.0,"[fr, en, es, it, de]",1,6.3,...,0,0,0,0,0,0,0,0,0,0
3,250000000,49026,7,112.312950,[United States of America],1084939099,165.0,[en],1,7.6,...,0,0,0,0,0,0,0,0,0,0
4,260000000,49529,7,43.926995,[United States of America],284139100,132.0,[en],1,6.1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,9367,8,14.269792,"[Mexico, United States of America]",2040920,81.0,[es],1,6.6,...,0,0,0,0,0,0,0,0,0,0
4799,9000,72766,7,0.642552,[],0,85.0,[],1,5.9,...,1,1,0,0,0,0,0,0,0,0
4800,0,231617,7,1.444476,[United States of America],0,120.0,[en],1,7.0,...,1,1,0,0,0,0,0,0,0,1
4801,0,126186,7,0.857008,"[United States of America, China]",0,98.0,[en],1,5.7,...,0,0,0,0,0,0,0,0,0,0
4802,0,25975,7,1.929883,[United States of America],0,90.0,[en],1,6.3,...,0,0,0,0,0,0,0,1,0,0